* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  width: 100vw;
}

.form {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 2rem;
  padding: 1.5rem;
  width: 35rem;
  height: 35rem;
}
.submit-form {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 2rem;
  padding: 1.5rem;
  width: 25rem;
  height: 25rem;
}
.stepper {
  display: flex;
  justify-content: space-around;
}

.info {
  padding: 0.25rem;
  font-weight: 300;
  text-align: center;
  font-size: 1rem;
}

.icon {
  text-align: center;
  background: rgb(242, 235, 242);
  padding: 10px;
  border-radius: 30%;
  font-size: 3rem;
}

.step-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.btn {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
}

.btn:hover,
.btn-31:focus {
  opacity: 0.75;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.user-form {
  padding: 1rem 0;
}

input,
select {
  padding: 0.45rem;
  width: 100%;
  text-decoration: none;
  font-size: 1rem;
}
label {
  display: block;
  padding: 0.25rem 0;
  font-weight: 600;
}

.form-submit {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.check {
  font-size: 4rem;
  text-align: center;
  margin: 0 auto;
  color: rgb(14, 172, 14);
}
.heading {
  font-size: 2rem;
  margin: 1rem;
}
h4 {
  color: #6f6f6f;
  font-weight: 300;
  margin: 1rem;
}
