body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

h1 {
  font-size: 1.5rem;
}

.inputField {
  padding: 9px;
  margin: 0.24rem;
}
.names {
  font-size: 1.3rem;
  margin: 0.24rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container {
  padding: 20px;
  max-width: 450px;
  margin: auto;
  height: 500px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.submit {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 3rem 0;
}

.submit:hover {
  background-color: #45a049; /* Darker green on hover */
}

.submit:active {
  background-color: #3e8e41;
  transform: translateY(1px);
}
p {
  color: red;
}
